html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    width:100%;
    height:100%;
    color: white;
    background-image: url(./space2.png);
    background-size: 200%;
    background-attachment: fixed;
}

header {
    text-align: center;
    border: 1px solid white;
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    background-color: rgba(0, 0, 0, 0.878);
}
p {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.878);
}

main {
    width: 1350px;
    height: 1100px;
    margin-top: 10px;
    margin-left: 5%;
    padding-top: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
}

#N {
    width: 1000px;
    height: 1000px;
    animation-name: orbit;
    animation-duration: 412000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 1px solid rgba(255, 255, 255, 0.467);
}
#Neptune {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(16, 23, 213);
}
#U, #S, #J, #Ma, #T, #V, #Me {
    width: 80%;
    height: 80%;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 1px solid rgba(255, 255, 255, 0.467);
}
#U {
    animation-duration: 210025ms;
}
#Uranus {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(16, 177, 213);
}
#S {
    animation-duration: 736500ms;
}
#Saturne {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(209, 190, 114), rgb(233, 189, 132), rgb(209, 190, 114));
}
#anneaux {
    width: 30px;
    height: 2px;
    background-color: white;
}
#J {
    animation-duration: 296500ms;
}
#Jupiter {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(213, 183, 65), rgb(209, 138, 44), rgb(213, 183, 65));
}
#Ma {
    animation-duration: 47000ms;
}
#Mars {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(213, 85, 16);
}
#T {
    animation-duration: 25000ms;
}
#Terra {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(4, 88, 199), rgb(10, 201, 10), rgb(4, 88, 199), rgb(10, 201, 10), rgb(4, 88, 199));
}
#V {
    animation-duration: 15500ms;
}
#Venus {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(189, 189, 188), rgb(233, 189, 132), rgb(189, 189, 188));
}
#Me {
    animation-duration: 6000ms;
}
#Mercury {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(75, 74, 71);
}
#So {
    width: 80%;
    height: 80%;
    border: 1px solid rgba(255, 255, 255, 0.467);
}
#Sol {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle,red,orange,rgb(213, 173, 16));
}

@keyframes orbit {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}


#Neptune0 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#Uranus0 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#Saturne0 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#Jupiter0 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#Mars0 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#Terra0 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#Venus0 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#Mercury0 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}


section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section p , section h2 {
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0);
}

#Neptune1 {
    margin: Opx 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(16, 23, 213);
}
#Uranus1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(16, 177, 213);
}
#Saturne1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(209, 190, 114), rgb(233, 189, 132), rgb(209, 190, 114));
}
#anneaux1 {
    width: 60px;
    height: 2px;
    transform: rotate(45deg);
    background-color: white;
}
#Jupiter1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(213, 183, 65), rgb(209, 138, 44), rgb(213, 183, 65));
}
#Mars1 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(213, 85, 16);
}
#Terra1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(4, 88, 199), rgb(10, 201, 10), rgb(4, 88, 199), rgb(10, 201, 10), rgb(4, 88, 199));
}
#Venus1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(189, 189, 188), rgb(233, 189, 132), rgb(189, 189, 188));
}
#Mercury1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(75, 74, 71);
}
#Sol1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle,red,orange,rgb(213, 173, 16));
}